marginLeft = 38px
@import colors
@import prefixes
@import 'components/triangle'
@import fitter
.ig
  @import basics
  @import Vyhosteni
  @import Utonuli
  @import Moneytrail
.ig
  font-family 'Roboto', Helvetica, arial, sans-serif

#article > h2:last-of-type
  color #6
  border-top 1px solid #8
  padding-top 31px
  font-weight normal
  font-size 18px
  font-style italic
#article > h2:last-of-type ~ p
  color #8
  font-size 14px
  font-style italic
